<template>
  <div>
    <header> 
      <h1>About Us</h1>
      <h3>See What We're All About</h3>
    </header>
    <section>
      <div></div>
      <p>fnhdsjkghdsjkfghjkdsfhjkdsghfjreh</p>
    </section>
  </div>
</template>

<style scoped src='../assets/about.css'></style>
