<template>
<div>
    <header id="header">
        <div>
            <img src="../assets/logo.svg"/>
            <h1> A/C Supply Store </h1>
        </div>
    </header>
    <section id="title">
        <h3> Welcome To </h3>
        <h1 class="text-grad"> The A/C Supply Store </h1>
    </section>
    <section id="desc">{{ this.$store.state.productList }}</section>
</div>
</template>

<style scoped>
    @import "../assets/home.css";
</style>
<script>
    export default {
        name: 'Home'
    }
</script>