<template>
    <div>
        <header>
            <h1> Products </h1>
            <br>
            <h3> Browse All Our Products </h3>
        </header>
        <section>
            <div v-for='item in products' :key='item.id' class="product">
                <h3>{{ item.name }}</h3>
                <div>
                <img :src="item.img" />
                </div>
                <p>{{ item.desc }}</p>
                <p v-if="item.pNum">{{ item.pNum }}</p>
                <p v-else> Item Number Not Available </p>
                <router-link :to="{ name: 'ProductListView', params: { ptype: item.name, pcat: item} }"> Go </router-link>
            </div>
        </section>
        <ProductListView></ProductListView>
    </div>
</template>

<style scoped src='../assets/products.css'></style>

<script>
import ProductListView from '../components/ProductListView.vue'

export default {
    name: 'Products',
    components: {
        ProductListView
    },
    data: function() {
        return {
            products: this.$store.state.productList,
        };
    }
}
</script>