<template>
  <div id="body">
    <div v-show="this.testVar.length != 0">
        <h3>{{this.$route.params.ptype}} Types</h3>
        <div id="prod-ctnr">
          <div v-for="item in testVar" :key=item.subnum id="item-ctnr">
            <p>{{ item.subtype }}</p>
            <p>{{ item.subdesc }}</p>
            <p>{{ item.subnum }}</p>
          </div>
        </div>
      </div>
      <h1 v-show="this.testVar == 0"> Product Not Found </h1>
  </div>
</template>

<script>
export default {
    name: 'ProductListView',
    props: ['ptype', 'pcat'],
    data: function() {
      return {
        testVar: {}
      }
    },
    methods: {
      updateProducts: function() {
        for (let type of this.$store.state.productList) {
          let item = type;
          if (item.name == this.$route.params.ptype) {
            this.testVar = item.types;
          }
        }
      }
    },
    beforeMount: function() {
      this.updateProducts();
    },
    updated: function() {
        this.updateProducts();
      }
}
</script>

<style scoped src="../assets/productlist.css">
</style>