header {
    background: var(--grad);
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--t-light);
}

section {
    width: 60%;
    margin: 20px auto 0 auto;
    background: var(--light-3);
}

section div {
    width: 100px;
    height: 100px;
    background: grey;
    float: left;
}