* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

:root {
    --primary: #0d47a1;
    --secondary: #b71c1c;
    --p-light: #5472d3;
    --p-dark: #002171;
    --s-light: #f05545;
    --s-dark: #7f0000;
    --t-light: white;
    --t-dark: black;
    /* Vuetify Colors */
    --light-5: #FAFAFA;
    --light-4: #F5F5F5;
    --light-3: #EEEEEE;
    --light-2: #E0E0E0;
    --light-1: #BDBDBD;

    --grad: linear-gradient(135deg, red, blue);
    --btn-bg: #DA1333;
}

h1 {font-size: 3rem;}
h2 {font-size:2.5rem;}
h3 {font-size:2rem;}

.gay {
    color: purple;
}

#navBar {
    height: 10vh;
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index:2;
}

.navLink {
    color: var(--t-light);
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    padding: 8px;
    transition: 0.3s;
}

.navLink:hover {
    color: #2C3E50;
    background: white;
    border-radius: 8px;
    transition: 0.3s;
}

.navLink.router-link-exact-active {
    background: var(--primary);
}

.navLink.navLink.router-link-exact-active:hover {
    color: var(--t-light);
    border-radius: 8px;
}

.text-grad {
    background: var(--grad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}