#header {
    width: 100vw;
    height: 40vh;
    background: linear-gradient(-60deg, rgba(127, 0, 0, .7) 35%, rgba(0, 0, 0, 0) 30%), url('usflag.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
}

#header div {
    color: var(--t-light);
    width: 32.5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid green;
    height: auto;
}

#title {
    width: 100vw;
    background: var(--light-3);
    color: var(--t-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

#title h1 {
    font-size: 4rem;
}