header {
    height: 45vh;
    width: 100%;
    background: url("https://www.lg.com/us/images/AC/features/04_KV_CategoryHero_CasementAC_1_Background_D.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--t-light);
}

section {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0 2vh 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 20vw;
    border: 2px solid var(--light-1);
    text-align: center;
}

.product h3 {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid var(--light-2);
}

.product div {
    width: 100%;
    height: 55%;
    margin: 5%;
}

.product div img {
    width: 80%;
    height: 100%;
}

.product p:first-of-type {
    width: 100%;
    height: 20%;
}

.product p:last-of-type {
    width: 100%;
    height: 5%;
    align-self: flex-end;
    border-top: 1px solid var(--light-2);
}