#body {
    width: 80%;
    border: 1px solid black;
    margin: 10vh auto 10vh auto;
    text-align: center;
}

#prod-ctnr {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#item-ctnr {
    width: 30%;
    border: 1px solid grey;
    margin: 1%;
}