<template>
  <div id="app">
    <div id="navBar">
      <ul>
        <router-link class="navLink" :to="route.path" v-for="route in routes" :key="route.path">{{ route.name }}</router-link>
      </ul>
    </div>
    <router-view/>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        routes: [],
        store: this.$store
      }
    },
    created() {
      this.$router.options.routes.forEach(route => {
        this.routes.push({name: route.name, path: route.path})
      });
    }
  }
</script>

<style>
  @import "./assets/global.css";
</style>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}